@use "@/variables";
@use "@/mixins";

.toolbar {
  @include mixins.bar;
  z-index: 10;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    input {
      margin-left: 10px;
    }
    button {
      height: variables.$buttonSize;
      width: variables.$buttonSize;
      border: none;
      outline: none;
      cursor: pointer;
      background-size: cover;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
}

.brush {
  background: url("src/assets/img/brush.png") variables.$stockButtonBg;
}

.rect {
  background: url("src/assets/img/rect.png") variables.$stockButtonBg;
}

.circle {
  background: url("src/assets/img/circle.png") variables.$stockButtonBg;
}

.eraser {
  background: url("src/assets/img/eraser.png") variables.$stockButtonBg;
}

.line {
  background: url("src/assets/img/line.png") variables.$stockButtonBg;
}

.undo {
  background: url("src/assets/img/undo.png") variables.$stockButtonBg;
}

.redo {
  background: url("src/assets/img/redo.png") variables.$stockButtonBg;
}

.save {
  background: url("src/assets/img/save.png") variables.$stockButtonBg;
}
